# Automatically detect text files and perform LF normalization
*         text=auto

# Visual Studio
*.sln     merge=union text eol=crlf

# C#
*.cs      text diff=csharp
*.csproj  merge=union text eol=crlf

# VB.NET
*.vb      text
*.vbproj  merge=union text eol=crlf