# Visual Studio
*.sln text eol=crlf merge=union

# C#
*.cs text eol=lf filter=indent diff=csharp
*.csproj text eol=crlf merge=union

# VB.NET
*.vb text eol=lf filter=indent
*.vbproj text eol=crlf merge=union

# Git files
*.gitattributes text
*.gitignore text
README.* text