<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EECloud.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  
  <appSettings>
    <add key="Environment" value="Dev" />
    <add key="cloud.key" value="" />
    <add key="cloud.username" value="" />
    <add key="cloud.acc" value="" />
    <add key="cloud.worldid" value="" />
    <add key="appharbor.commit_id" value="" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="MYSQL_CONNECTION_STRING" value="server=1a61ba94-4350-4bf7-b140-a0c00089c670.mysql.sequelizer.com;database=db1a61ba9443504bf7b140a0c00089c670;uid=yvseurvaquewmbbd;pwd=2MNfGjKKr6Axjv86VNNNRo3HXvrNWYCkJmXZFD4WpfZZoAXqXngYvwzLTfqmZ6Wz" />
    <add key="MYSQL_CONNECTION_STRING_ALIAS" value="" />
    <add key="MYSQL_URI" value="mysql://yvseurvaquewmbbd:2MNfGjKKr6Axjv86VNNNRo3HXvrNWYCkJmXZFD4WpfZZoAXqXngYvwzLTfqmZ6Wz@1a61ba94-4350-4bf7-b140-a0c00089c670.mysql.sequelizer.com/db1a61ba9443504bf7b140a0c00089c670" />
  </appSettings>
  
  <userSettings>
    <EECloud.My.MySettings>
      <setting name="LicenceUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="LicenceKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginEmail" serializeAs="String">
        <value>sepehr1376@gmail.com</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value>159159ss</value>
      </setting>
      <setting name="LoginWorldID" serializeAs="String">
        <value>PWWOfglOCdbEI</value>
      </setting>
    </EECloud.My.MySettings>
  </userSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
