<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define AppName     = EECloud ?>
  <?define AppVersion  = 0.9.29 ?>
  <?define AppAuthor   = EEDev ?>
  <?define UpgradeCode = {EBE9213C-08D9-4561-8028-FB63B80AEA90} ?>

  <Product Id           = "*"
           Name         = "$(var.AppName)"
           Language     = "1033"
           Version      = "$(var.AppVersion)"
           Manufacturer = "$(var.AppAuthor)"
           UpgradeCode  = "$(var.UpgradeCode)">
    <Package Id               = "*"
             Manufacturer     = "$(var.AppAuthor)"
             InstallerVersion = "200"
             Languages        = "1033"
             Compressed       = "yes"
             InstallScope     = "perUser" />

    <!-- Included CAB -->
    <Media Id="1" Cabinet="EECloud.cab" EmbedCab="yes" CompressionLevel="high" />

    <!-- Installer icon -->
    <Icon Id="ProgramIcon" SourceFile="$(var.SolutionDir)Resources\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProgramIcon" />

    <!-- Disable repair/modify -->
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <!-- Upgrade info -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.AppVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.AppVersion)"
                      IncludeMinimum="yes" IncludeMaximum="no"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Main feature -->
    <Feature Id="Complete" Title="$(var.AppName)" Level="1">
      <ComponentRef Id="c$(var.AppAuthor)" />
      <ComponentRef Id="cFiles" />
      <ComponentRef Id="cAPIFiles" />
      <ComponentRef Id="cAPIRegistryKeys" />
    </Feature>
  </Product>

  <!-- Remove old versions -->
  <Fragment>
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <!-- Folder structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Programs (in Start Menu) -->
      <Directory Id="ProgramMenuFolder" />

      <!-- Desktop -->
      <Directory Id="DesktopFolder" />

      <!-- Directory in AppData -->
      <Directory Id="AppDataFolder">
        <Directory Id="$(var.AppAuthor)" Name="$(var.AppAuthor)">
          <Directory Id="InstallLocation" Name="$(var.AppName)">
            <Directory Id="API" Name="API" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- EEDev folder -->
    <DirectoryRef Id="$(var.AppAuthor)">
      <Component Id="c$(var.AppAuthor)" Guid="{078F6C30-61AF-4FE3-9135-F84142592AB1}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)"
                       Name="Installed" Type="integer" Value="1"
                       KeyPath="yes" />

        <CreateFolder />
        <RemoveFolder Id="Remove$(var.AppAuthor)" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!-- API folder preparation -->
    <DirectoryRef Id="API">
      <Component Id="cAPIFiles" Guid="{1C536D70-68DA-4867-BB47-B13E19F702EC}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)"
                       Name="Installed" Type="integer" Value="1"
                       KeyPath="yes" />

        <CreateFolder />
        <RemoveFolder Id="RemoveAPI" On="uninstall" />

        <File Id="APIDoc"  Source="$(var.EECloud.API.TargetDir)EECloud.API.xml" />
        <File Id="HostDoc" Source="$(var.EECloud.Host.TargetDir)EECloud.Host.xml" />
      </Component>
    </DirectoryRef>

    <!-- Main installation folder -->
    <DirectoryRef Id="InstallLocation">
      <Component Id="cFiles" Guid="{76A51B27-FBBE-48E8-8E9E-C91CA1EE9DD7}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)"
                       Name="Installed" Type="integer" Value="1"
                       KeyPath="yes" />

        <CreateFolder />
        <RemoveFolder Id="RemoveInstallLocation" On="uninstall" />

        <File Id="MainExecutable" Source="$(var.EECloud.Launcher.TargetPath)">
          <Shortcut Id               = "StartMenuShortcut"
                    Directory        = "ProgramMenuFolder"
                    Name             = "$(var.AppName)"
                    Icon             = "ProgramIcon"
                    WorkingDirectory = "InstallLocation" />

          <Shortcut Id               = "DesktopShortcut"
                    Directory        = "DesktopFolder"
                    Name             = "$(var.AppName)"
                    Icon             = "ProgramIcon"
                    WorkingDirectory = "InstallLocation" />
        </File>

        <File Id="EECloudAssembly"     Source="$(var.EECloud.TargetPath)" />
        <File Id="APIAssembly"         Source="$(var.EECloud.API.TargetPath)">
          <CopyFile Id="APIReference"  DestinationDirectory="API" />
        </File>
        <File Id="HostAssembly"        Source="$(var.EECloud.Host.TargetPath)">
          <CopyFile Id="HostReference" DestinationDirectory="API" />
        </File>
        <File Id="EEServiceAssembly"   Source="$(var.EECloud.EEService.TargetPath)" />

        <File Id="PlayerIOAssembly"    Source="$(var.SolutionDir)References\PlayerIOClient.dll" />
        <File Id="MySQLAssembly"       Source="$(var.SolutionDir)References\MySQL.Data.dll" />
        <File Id="SQLiteAssembly"      Source="$(var.SolutionDir)References\System.Data.SQLite.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cAPIRegistryKeys" Guid="{C7D3C0F0-3C06-11E2-81C1-0800200C9A66}">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\.NETFramework\v4.5.50709\AssemblyFoldersEx\EECloud">
          <RegistryValue Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Type="string" Value="[API]" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>