<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define AppName = EECloud ?>
  <?define AppVersion = 0.9.6 ?>
  <?define AppAuthor = EEDev ?>
  <?define UpgradeCode = {EBE9213C-08D9-4561-8028-FB63B80AEA90} ?>

  <Product Id="*"
           Name="$(var.AppName)"
           Language="1033"
           Version="$(var.AppVersion)"
           Manufacturer="$(var.AppAuthor)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*"
             Manufacturer="$(var.AppAuthor)"
             InstallerVersion="200"
             Languages="1033"
             Compressed="yes"
             InstallScope='perUser' />

    <!-- Included CAB -->
    <Media Id="1" Cabinet="EECloud.cab" EmbedCab="yes" CompressionLevel="high" />

    <!-- Installer icon -->
    <Icon Id="ProgramIcon" SourceFile="$(var.EECloud.ProjectDir)Resources\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProgramIcon" />

    <!-- Disable repair/modify -->
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <!-- Upgrade info -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.AppVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.AppVersion)"
                      IncludeMinimum="yes" IncludeMaximum="no"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Main feature -->
    <Feature Id="Complete" Title="$(var.AppName)" Level="1">
      <ComponentRef Id="c$(var.AppAuthor)" />
      <ComponentRef Id="cFiles" />
      <ComponentRef Id="cAPIFiles" />
      <ComponentRef Id="cAPIRegistryKeys" />
    </Feature>
  </Product>

  <Fragment>
    <!-- Folder structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Programs (in Start Menu) -->
      <Directory Id="ProgramMenuFolder" />

      <!-- Desktop -->
      <Directory Id="DesktopFolder" />

      <!-- Directory in Appdata -->
      <Directory Id="AppDataFolder">
        <Directory Id="$(var.AppAuthor)" Name="$(var.AppAuthor)">
          <Directory Id="INSTALLLOCATION" Name="$(var.AppName)">
            <Directory Id="API" Name="API" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Install folder -->
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="cFiles" Guid="{76A51B27-FBBE-48E8-8E9E-C91CA1EE9DD7}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)" Name="Installed"
                       Type="integer" Value="1"
                       KeyPath="yes" />
        <CreateFolder />
        <RemoveFolder Id='RemoveINSTALLLOCATION' On='uninstall' />

        <File Id="MainExecutable" Source="$(var.EECloud.TargetDir)EECloud.exe">
          <Shortcut Id="StartMenuShortcut"
                    Directory="ProgramMenuFolder"
                    Name="$(var.AppName)"
                    WorkingDirectory="INSTALLLOCATION"
                    Icon="ProgramIcon" />
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="$(var.AppName)"
                    WorkingDirectory="INSTALLLOCATION"
                    Icon="ProgramIcon" />
        </File>
        <File Id="APIAssembly" Source="$(var.EECloud.API.TargetDir)EECloud.API.dll" />
        <File Id="HostAssembly" Source="$(var.EECloud.Host.TargetDir)EECloud.Host.dll" />
        <File Id="PlayerIOAssembly" Source="$(var.SolutionDir)References\PlayerIOClient.dll" />
        <File Id="MySQLAssembly" Source="$(var.SolutionDir)References\MySQL.Data.dll" />
      </Component>
    </DirectoryRef>

    <!-- API folder -->
    <DirectoryRef Id="API">
      <Component Id="cAPIFiles" Guid="{1C536D70-68DA-4867-BB47-B13E19F702EC}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)" Name="Installed"
                       Type="integer" Value="1"
                       KeyPath="yes" />
        <CreateFolder />
        <RemoveFolder Id='RemoveAPI' On='uninstall' />

        <File Id="APIRefrence" Source="$(var.EECloud.API.TargetDir)EECloud.API.dll" />
        <File Id="HostRefrence" Source="$(var.EECloud.Host.TargetDir)EECloud.Host.dll" />
        <File Id="APIDoc" Source="$(var.EECloud.API.TargetDir)EECloud.API.xml" />
        <File Id="HostDoc" Source="$(var.EECloud.Host.TargetDir)EECloud.Host.xml" />
      </Component>
    </DirectoryRef>

    <!-- EEDev folder -->
    <DirectoryRef Id="$(var.AppAuthor)">
      <Component Id="c$(var.AppAuthor)" Guid="{078f6c30-61af-4fe3-9135-f84142592ab1}">
        <RegistryValue Root="HKCU" Key="Software\$(var.AppAuthor)\$(var.AppName)" Name="Installed"
                       Type="integer" Value="1"
                       KeyPath="yes" />
        <CreateFolder />
        <RemoveFolder Id='Remove$(var.AppAuthor)' On='uninstall' />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cAPIRegistryKeys" Guid="{c7d3c0f0-3c06-11e2-81c1-0800200c9a66}">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\.NETFramework\v4.5.50709\AssemblyFoldersEx\EECloud">
          <RegistryValue Name="Installed" Type="integer" Value="1" KeyPath="yes" />
          <RegistryValue Type="string" Value="[API]" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <CustomAction Id="LaunchApp"
                  FileKey="MainExecutable" ExeCommand=""
                  Execute="deferred" Impersonate="yes" Return="asyncNoWait" />

    <InstallExecuteSequence>
      <!-- Remove old versions -->
      <RemoveExistingProducts Before="InstallInitialize" />

      <!-- Launch the app on exit -->
      <Custom Action="LaunchApp" After="InstallFiles" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>